.template__possibility {
    display: flex;
    flex-direction: row;
}

.template__possibility-image {
    flex: 1;
    display: flex;
    margin-right: 2rem;
}

.template__possibility-image img {
    height: 100%;
    width: 100%;
}

.template__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.template__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.template__possibility-content h4:last-child {
    color: var(--color-subtext);
}

.template__possibility-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.template__possibility-content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 900px){
    .template__possibility {
        flex-direction: column;
    }

    .template__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 750px){
    .template__possibility-content h4, .template__possibility-content p {
        font-size: 14px;
        line-height: 25px;
    }

    .template__possibility-content h3 {
        font-size: 25px;
        line-height: 38px;
    }
}

@media screen and (max-width: 550px){
    .template__possibility-content h4, .template__possibility-content p {
        font-size: 12px;
        line-height: 20px;
    }

    .template__possibility-content h3 {
        font-size: 20px;
        line-height: 30px;
    }
}